<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let link of links">
            <div class="card text-center p-4 mb-4">
                <div class="car-body">
                    <a href="{{link.url}}" target="_blank">
                        <h3 class="card-title text-uppercase">{{link.title}}</h3>
                    </a>
                    <p>{{link.create_at | date:' d MMMM H:mm '}}</p>
                    <p class="m-2">{{link.description}}</p>
                    <a [routerLink]="['/links/update/',link.id]" class="btn btn-secondary mr-4">Edit</a>
                    <button (click)="deleteLink(link.id)" class=" btn btn-danger ">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="links.length == 0">
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not links saved</p>
                <a [routerLink]="['/links/add']">Create One</a>
            </div>
        </div>
    </div>
</div>