<div class="data position-relative ">
    <div class="container-fluid position-absolute">
        <div class="row my-bg shadow-sm ">
            <div class="col-12 col-md-2 bg-mynavbar">
                <app-nav></app-nav>
            </div>
            <div class="col-12 col-md-7">
                <div class="row  my-height mt-4 mb-4 mx-1 ">
                    <div class="col-12">
                        <div class="row my-bg-2 shadow-sm">
                            <div class="col-12">
                                <h3>Datos alumno: </h3>
                                <p><span class="text-primary">Username: </span>{{userInfo.username}}</p>
                                <p><span class="text-primary">Nombre: </span>{{userInfo.name}}</p>
                                <p><span class="text-primary">Email: </span>{{userInfo.email}}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-12 col-md-3">

                <div class="row my-bg-2 mt-4 mb-4 mx-1 shadow-sm pb-3 pt-2">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger">Contáctanos</h4>
                            <a href="" class="pt-1"><i class="fa fa-angle-up text-black-50 font-weight-bold ml-3"></i></a>
                        </div>

                        <hr>
                        <h6 class="font-weight-bold m-0">Servicio de Atención al Estudiante (SAE)</h6>
                        <p class="m-0">sae.utp.edu</p>
                        <p class="m-0">960 252 970</p>
                        <p class="m-0">01 315-9600 (Opcion 1- 1)</p>
                        <h6 class="font-weight-bold m-0">Mesa de ayuda</h6>
                        <p class="m-0">mesadeayuda@utp.idat.edu.pe</p>
                        <p class="m-0">01 315-9606</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>