<div class="matricula position-relative ">
    <div class="container-fluid position-absolute">
        <div class="row my-bg shadow-sm ">
            <div class="col-12 col-md-2 bg-mynavbar">
                <app-nav></app-nav>
            </div>
            <div class="col-12 col-md-7">
                <div class="row my-bg-2 mt-4 mx-1 shadow-sm">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger">Cursos a Matricular</h4>
                            <a href="" class="pt-1 text-primary">Guía Interactiva de Matrícula de Línea <i class="fa fa-angle-up text-black-50 font-weight-bold ml-3"></i></a>
                        </div>
                        <hr>
                        <p>Aquí encontrarás la lista de cursos para matricularte. Elige primero los cursos de menor nivel para avanzar de acuerdo con tu plan de estudios.
                        </p>
                        <table class="table table-responsive my-style-tabla">
                            <thead class="my-tabla">
                                <tr class="text-white">
                                    <th>Item</th>
                                    <th>Curso</th>
                                    <th>Horas semanales</th>
                                    <th>Créd</th>
                                    <th>Ciclo</th>
                                    <th>Nro. Insc</th>
                                    <th>Tipo</th>
                                    <th>Sección</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let curso of Cursos; let i = index">
                                <tr>
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{curso.nombre}}</td>
                                    <td>{{curso.Horas}}</td>
                                    <td>{{curso.Credito}}</td>
                                    <td>{{curso.Ciclo}}</td>
                                    <td>{{curso.Nro}}</td>
                                    <td>{{curso.Tipo}}</td>
                                    <td>{{curso.Seccion}}</td>
                                    <td><button class="btn  my-btn" (click)="CustomAlert()">Agregar</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!--EMPIEZA no se mostrara hasta que no hagan Click CustomAlert()-->
                <div class="row">
                    <div class="col-12">
                        <div id="dialogoverlay"></div>
                        <div id="dialogbox" class="shadow-sm">
                            <div>
                                <div id="dialogboxhead" class="bg-danger text-white">Selecciona su horario</div>
                                <div id="dialogboxbody">
                                    <div class="d-flex text-white">
                                        <button class="btn btn-outline-secondary flex-fill">Mañana</button>
                                        <button class="btn btn-outline-secondary flex-fill">Tarde</button>
                                        <button class="btn btn-outline-secondary flex-fill">Noche</button>

                                    </div>
                                    <table class="table table-responsive mt-3">
                                        <thead class="thead-light">
                                            <tr class="text-white">
                                                <th>N° orden</th>
                                                <th>Docente</th>
                                                <th>Hora Inicio</th>
                                                <th>Hora Fin</th>
                                                <th>Añadir</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let materia of Materias; let i = index ">
                                            <tr>
                                                <td scope="row">{{i}}</td>
                                                <td>{{materia.title}}</td>
                                                <td>{{materia.start | split:' '}}</td>
                                                <td>{{materia.end | split:' '}}</td>
                                                <td><button class="btn my-btn ActivarButton" (click)="setMateria(i)">Seleccionar</button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div id="dialogboxfoot"><button (click)='Cerrar()' class="btn btn-danger">Cerrar</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TERMINA -->
                <div class="row my-bg-2 mt-4  mx-1 shadow-sm mb-md-4">
                    <div class="col-12">
                        <h4 class="text-danger">Horario por día/semana</h4>
                        <hr>
                        <p>A continuación te mostraremos tu horario seleccionado</p>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="row my-bg-2 mt-4 mx-1 shadow-sm ">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger">Resumen</h4>
                            <a href="" class="pt-1"><i class="fa fa-angle-up text-black-50 font-weight-bold ml-3"></i></a>
                        </div>

                        <hr>
                        <p><span class="badge badge-danger">00</span> Cursos seleccionados</p>
                        <p><span class="badge badge-danger">00</span> Horas semanales seleccionadas </p>
                        <p><span class="badge badge-danger">00</span> Creditos seleccionados</p>
                    </div>
                </div>
                <div class="row my-bg-2 mt-4 mx-1 shadow-sm pb-3 pt-2">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger">Importante</h4>
                            <a href="" class="pt-1"><i class="fa fa-angle-up text-black-50 font-weight-bold ml-3"></i></a>
                        </div>

                        <hr>
                        <p>No olvides usar el botón "Procesar Matricula" para registrar los cursos y horarios seleccionados</p>
                        <button class="btn btn-success btn-block">Procesar Matricula</button>
                    </div>
                </div>
                <div class="row my-bg-2 mt-4 mb-4 mx-1 shadow-sm pb-3 pt-2">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <h4 class="text-danger">Contáctanos</h4>
                            <a href="" class="pt-1"><i class="fa fa-angle-up text-black-50 font-weight-bold ml-3"></i></a>
                        </div>

                        <hr>
                        <h6 class="font-weight-bold m-0">Servicio de Atención al Estudiante (SAE)</h6>
                        <p class="m-0">sae.utp.edu</p>
                        <p class="m-0">960 252 970</p>
                        <p class="m-0">01 315-9600 (Opcion 1- 1)</p>
                        <h6 class="font-weight-bold m-0">Mesa de ayuda</h6>
                        <p class="m-0">mesadeayuda@utp.idat.edu.pe</p>
                        <p class="m-0">01 315-9606</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>