<app-nav></app-nav>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form #LinkForm="ngForm" (ngSubmit)="saveLink(LinkForm)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="id" #id="ngModel" [(ngModel)]="link.id" placeholder="Codigo" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="link.title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <input type="url" class="form-control" name="url" #url="ngModel" [(ngModel)]="link.url" placeholder="Url">
                        </div>
                        <div class="form-group">
                            <textarea rows="2" class="form-control" name="description" #description="ngModel" [(ngModel)]="link.description" placeHolder="Description"> </textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>