.my-design {
    height: 100vh;
    position: fixed;
    width: 15vw;
    background-color: hsl(356, 61%, 51%);
}

.my-links a,
.my-pointer {
    cursor: pointer;
}

.my-links a:hover {
    background-color: hsl(0, 98%, 56%)
}

@media screen and (max-width: 768px) {
    .my-design {
        height: 10vh;
    }
}